/*Navigacijos CSS*/
body {
	margin: 0px;
}

body * {
  font-family: 'Merriweather', serif;
}

header {
	background-image: url(../images/kalnas.jpg);
	
}

.home header {
	background-image: url(../images/kalnas.jpg);
	height: 100vh;
}

.overlay {
	position: absolute;
	top:0;
	bottom: 0;
	width: 100%;
	background-color: rgba(255, 238, 218, 0.35);
}

.logo
{
display: block;
position: relative;
margin-left: auto;
margin-right: auto;
}

nav {
	position: absolute;
	z-index: 1;
}

nav ul {
	position: absolute;
	right: 16px;
	top:0px;
}

nav div {
	position: absolute;
	left: 16px;
	top:0px;
}


/*Pagrindinio puslapio headeris*/
.homeHeader {
	color: black;
	position: absolute;
	width: 100%;
	left: 0px;
	top: 50vh;
	transform: translateY(-16%);
}

#task_flyout.fixed{
position:fixed; top:50%; right:50%;
}

.homeHeader img {
	width: 140px;
	height: 140px;
}

.homeHeader h1, .homeHeader h2 {
	text-align: center;
}

.homeHeader h2{
	font-size: 32px;
}

.homeHeader h2 span {
	width: 64px;
	border-top: 1px black solid;
	display: inline-block;
	position: relative;
	bottom: 4px;
}

.homeHeader h2 span::first-child {
	padding-right: 16px;
}

.homeHeader h2 span::last-child {
	padding-left: 16px;
}

<<<<<<< HEAD
.mapas {
	
   border-radius: 50%;
    z-index: 1;
    display: block;
        margin: 0 auto;
}

=======
/*Puslapių kur headeris ne per visa ekrana CSS*/
.otherHeaders img {
	width: 140px;
	height: 140px;
>>>>>>> d42e9415d06404f6083ca0df6a99b1c95be7cae1
}

.otherHeaders h1, .otherHeaders h2 {
	text-align: center;
}

<<<<<<< HEAD
.tomai {
	   border-radius: 50%;
    z-index: 1;
    display: block;
    width: 100px;
    margin: 0 auto;
}

=======
/*Kontantų puspapio CSS*/
.mapas {
   border-radius: 50%;
   display: block;
   margin: 0 auto;
       display: block;
    padding: 0;
    text-align: center;
}

.mapas iframe {
 display: block;
   margin: 0 auto;
       display: block;
    padding: 0;
    text-align: center;

}



.snukiai img {

	border-radius: 50%;
	    display: block;
    margin: 0 auto;
    margin-top: 120px;

}

.snukiai p {
text-align: center;
}


.row {
	position: relative;
	z-index: 1;
	top: 120px;
	margin: 0 auto;
}
