header {

background: url('../images/kalnas.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;

}

.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(105, 43, 0, 0.35);
}
body {
	margin: 0px;
}

body *{
	font-family: sans-serif;
}

.navbar-fixed .nav-wrapper{
	line-height: 100px;;

}

div .cls {
    position: absolute;
    height: 100%;
    width: 417.51px;
}

.logo {
	top:32px;
	left:32px;
	height: 100px;
width: 100px;
position:absolute;

	}

.jusai
{
	z-index: 1;
	top: 50%;
	left: 50%;
	position: absolute;
	height: 100px;
	width: 100px;
	align-items: center;
}
nav {
	position: fixed;
	height: 100px;
}

nav ul li {
	display: inline;
	margin-left: 16px;

}


.title-block{
	align-items: center;
	position: relative;
}


.title-block h5 span {
	text-align: center;
width: 64px;
border-top: 1px solid black;
display: inline-block;
position: relative;
bottom: 12px;
}

.title-block h5 span::first-child {
	padding-right:16px;
}

.title-block h5 span::last-child {
padding-left:16px;
}
.MOK {
	text-align: center;

}
.useriai {
	width: 100%;
	max-width: 992px;
	margin: 0 auto;
}

.kalnu-sarasas {
	list-style: none;
	margin: 0;
	padding: 0;
}

.kalnu-sarasas .kalnu-sarasas-item {
	
	display: inline-block;
}

.kalnu-sarasas .kalnu-sarasas-item img {
	transition: 2s all ;	      
   
}

.kalnu-sarasas .kalnu-sarasas-item img.clicked {
    -webkit-transform:rotateY(360deg);
    -moz-transform:rotateY(360deg);
	-ms-transform:rotateY(360deg);
    -o-transform:rotateY(360deg);
    transform:rotateY(360deg);

}





